*{
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    /* background-color: #eff8fb; */
}

#container{
    margin: auto;
    margin-top: 70px;
    background-color: white;
    border: 1.4px solid rgb(45, 45, 45);
    border-radius: 5px;
    width: 300px;
    height: 400px;
    color: rgb(32, 31, 31);
    opacity: 84%;
}

#cont1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.favicon{
    height: 80px;
    margin: 30px 0 10px;
}

/* INPUT */

input{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    padding: 7px;
    margin: 10px;
    outline: none;
}


/* LOGIN BUTTON */

#btn {
    background-color: #19A7CE;
    color: white;
    border: none;
    padding: 5px 25px;
    margin-top: 10px;
    border-radius: 5px;
    width: 215px;
    cursor: pointer;
    padding: 7px;
    font-weight: bold;
}

#btn:hover {
    background-color: #137f9d;
}

h1{
    margin-top: 0;
    color: black;
}